**Date:** {{.OrderTimestamp}}   

**Order ID:** {{.Order.Data.Id}}   

{{$o := .Order.Data.Attributes}}

# Shipping and billing information   

|	Shipping address |	  | Billing address	 |
| -------------------|----|------------------|
|  {{with .Shipper.Data.Attributes }} {{.FirstName}} {{.LastName}} <br/> {{.Organization}}	<br/> {{.FirstAddress}} <br/> {{.SecondAddress}} <br/> {{.City}} {{.State}} {{.Zipcode}} <br/> {{.Country}} <br/> Phone: {{.Phone}} <br/> {{.Email}} <br/> {{$o.Courier}} {{$o.CourierAccount}} {{- end }} |          | {{- with .Payer.Data.Attributes }} {{.FirstName}} {{.LastName}} <br/> {{.Organization}}	<br/> {{.FirstAddress}} <br/> {{.SecondAddress}} <br/> {{.City}} {{.State}} {{.Zipcode}} <br/> {{.Country}} <br/> Phone: {{.Phone}} <br/> {{.Email}} <br/> {{$o.Courier}} {{$o.CourierAccount}} <br/> {{$o.Payment}} {{$o.PurchaseOrderNum}} {{- end }} |

{{if or .StrainInv .PlasmidInv}}
# Stocks ordered

|	Item	|	Quantity 	     |	Unit price($)	  |	Total($)	       |
|-----------|--------------------|--------------------|--------------------|
|	Strain	| {{.StrainItems}}   | {{.StrainPrice}}   |  {{.StrainCost}}   |
|	Plasmid	| {{.PlasmidItems}}  | {{.PlasmidPrice}}  |  {{.PlasmidCost}}  |
|			|					 |					  |	 {{.TotalCost}}    |

{{- end}}

{{ if .StrainInfo}}
# Strain information

|ID	|  Descriptor |	Name(s)  |	Systematic Name  |	Characteristics |
|-------|---------------|-----------|--------------------|-----------------|
{{- range $idx,$e := .StrainInfo}}
| {{index $e 0}}  | {{index $e 1}}  | {{index $e 2}} | {{index $e 3}} | {{index $e 4}} |

{{- end}}
{{end}}
	

{{if .StrainInv}}
# Strain storage

|	Name |	Stored as |	Location |	No. of vials |	Color   |
|--------|------------|----------|---------------|----------|
{{- range $idx,$e := .StrainInv}}
| {{index $e 0}} | {{index $e 1}} | {{index $e 2}} |  {{index $e 3}} | {{index $e 4}} |

{{- end}}
{{end}}



{{if .PlasmidInv}}
# Plasmid information and storage   

| ID  |	Name  |	Stored as |	Location |	Color |
|-----|-------|-----------|----------|--------|
{{- range $idx,$e := .PlasmidInv}}
| {{index $e 0}} | {{index $e 1}} | {{index $e 2}} | {{index $e 3}} | {{index $e 4}} |

{{- end}}
{{end}}

{{if .Order.Data.Attributes.Comments}}
# Comment
{{.Order.Data.Attributes.Comments}}
{{end}}
